
.row { width: 100%; display: flex; justify-content: center; align-items: center; }
label[for="fileSelector"]
{ 
	background-color: #F0F0F0;
	border: 1px solid black;
	border-radius: 7px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
